<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    {{msg}}
    <div class="text-center">
        <p class="h4 mb-4">Enter Data to edit</p>
    </div>
    <div id="Enter_record" class="text-center">
        <form class="form-inline" action="/RecordEdited" method="post">
            {%csrf_token%}
            <input type="hidden" name="id" id="id" value="{{ID}}">
            <h3>name<input class="form-control mb-4" required type="text" name="name" id="name" value="{{NAME}}"></h3>
            <h3>surname<input class="form-control mb-4" required type="text" name="surname" id="surname" value="{{SURNAME}}"></h3>
            <button class="btn btn-info btn-block my-4" type="submit">Submit</button>
        </form>
        <span>{{msg}}</span>
    </div>
</body>
</html>